@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-ExtraBold.woff2') format('woff2'),
        url('CreatoDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-Black.woff2') format('woff2'),
        url('CreatoDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-BlackItalic.woff2') format('woff2'),
        url('CreatoDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-Bold.woff2') format('woff2'),
        url('CreatoDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-MediumItalic.woff2') format('woff2'),
        url('CreatoDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-Thin.woff2') format('woff2'),
        url('CreatoDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-BoldItalic.woff2') format('woff2'),
        url('CreatoDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-ThinItalic.woff2') format('woff2'),
        url('CreatoDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-Light.woff2') format('woff2'),
        url('CreatoDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-Regular.woff2') format('woff2'),
        url('CreatoDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-Italic.woff2') format('woff2'),
        url('CreatoDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-Medium.woff2') format('woff2'),
        url('CreatoDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-ExtraBoldItalic.woff2') format('woff2'),
        url('CreatoDisplay-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-LightItalic.woff2') format('woff2'),
        url('CreatoDisplay-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

