@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Regular.woff2') format('woff2'),
        url('GeistMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Light.woff2') format('woff2'),
        url('GeistMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Bold.woff2') format('woff2'),
        url('GeistMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Medium.woff2') format('woff2'),
        url('GeistMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-SemiBold.woff2') format('woff2'),
        url('GeistMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Black.woff2') format('woff2'),
        url('GeistMono-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono UltraBlack';
    src: url('GeistMono-UltraBlack.woff2') format('woff2'),
        url('GeistMono-UltraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-Thin.woff2') format('woff2'),
        url('GeistMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('GeistMono-UltraLight.woff2') format('woff2'),
        url('GeistMono-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

