:root{
  --geist: 'Geist', sans-serif;
  --geist-mono: 'Geist Mono', monospace;
  
  /* Top bar mantains colors regarding the applied theme. */
  --off-white: #F4F4F4;
  --off-black: #050505;


  --bar-white: var(--off-white);
  --bar-black: var(--off-black);
  
  --background: var(--off-black);
  --foreground: var(--off-white);
  --secondary-light: #3e3e3e;
  --secondary-mid: #282828;
  --secondary-dark: #0d0d0d;
  --disabled: #696969;
}
.light {

  --background: var(--off-white);
  --foreground: var(--off-black);
  --secondary-light: #e1e1e1;
  --secondary-mid: #c8c8c8;
  --secondary-dark: #9b9b9b;

}