@font-face {
    font-family: 'Geist';
    src: url('Geist-Medium.woff2') format('woff2'),
        url('Geist-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('Geist-Black.woff2') format('woff2'),
        url('Geist-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('Geist-Light.woff2') format('woff2'),
        url('Geist-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('Geist-SemiBold.woff2') format('woff2'),
        url('Geist-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('Geist-Bold.woff2') format('woff2'),
        url('Geist-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('Geist-Regular.woff2') format('woff2'),
        url('Geist-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('Geist-Thin.woff2') format('woff2'),
        url('Geist-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('Geist-UltraLight.woff2') format('woff2'),
        url('Geist-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist UltraBlack';
    src: url('Geist-UltraBlack.woff2') format('woff2'),
        url('Geist-UltraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

